
    <div class="App">
        <header class="App-header">
            <div class="menu">
                <%- include('TaskList'); %>
                <%- include('EditTask'); %>
                <%- include('DeleteTask');%>

             </div>
            <h2 class="title">MA LISTE DES TACHES</h2>
            <p class="plan">S'organiser, c'est doubler sa productivité, alors planifiez vos journées</p>
            <img src="images/addTask.svg" class="Task-Add" alt="Add task" onClick= " handleAddTaskClick() " >
            <img src="images/brain.svg" class="brain" alt="">
            <img src="images/done.svg" class="done" alt="">
            <img src="images/grow.svg" class="grow" alt="">
            <img src="images/plan.svg" class="planimg" alt="">
            <img src="images/rocket.svg" class="rocket" alt="">
            <p class="ajout">Ajouter une tâche</p>
        </header>
           
    </div>
  