
<div>
    <h2>suprimer une tâche</h2>
    <form action="/deleteTask" method="post">
        <div class="descr">
            <label>Description :</label>
        </div>
        <div class="prior">
            <label>Priorité :</label>
        </div>
        <button class="add" type="submit">suprimer</button>
    </form>
</div>
