

    <h2>SUPRIMER UNE TACHE</h2>
    <form action="/deleteTask" method="post">
        <div class="tasksdel">
           <%  if(objets) {%>
            <ul>
                <% objets.forEach(function(objet) { %>
                    <li class="oneTask">
                        <h3> <span>tâche:</span>  <%= objet.task %> </h3>
                        <p> <span>priorité: </span> <%= objet.priority %></p>
                        <input type="checkbox" name=<%= objet.task %>>
                    </li>
                    <hr> <!-- Ligne horizontale -->
                <% }); %>
            </ul>
            <% }; %>
        </div>
        <button class="supr" type="submit">valider</button>
    </form>

