<!-- taskList.ejs -->

<div class="task">
    <img src="images/MyTask.svg" class="Task-list" alt="Add task"  onclick="showTaskList()"> <!-- Adjust the path to your MyTask.svg file -->
    <p>
        Liste des tâches
    </p>
</div>
