  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Freehand&family=Nunito:wght@600&family=Quicksand:wght@500&family=Roboto:ital,wght@0,400;1,300&family=The+Nautigal&display=swap');
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #363a42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu{
  display: flex;
  padding: 10px ;
  position: absolute;
  top: 20px ;
  background-color: #61DAFB;
  height: 60px;
  width: 100% ;
  justify-content: space-around;
  
}
.ajout{
  font-size: 30px;
  font-family: 'Nunito', sans-serif;

}
.title{
  font-family: 'Nunito', sans-serif;
  text-shadow: 5px 7px 7px rgb(102, 110, 111);
  margin-bottom: 80px ;
  font-size: 90px ;
}
.plan{
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 50px ;
}
.brain{
  opacity: 0.2;
  top: 100px ;
  position:  absolute;
}
.done{
  opacity: 0.4;
  transform: rotate(30deg);
  top: 400px ;
  left: 200px ;
  position:  absolute;
}
.planimg{
  opacity: 0.2;
  transform: rotate(10deg);
  top: 400px ;
  right: 200px ;
  position:  absolute;
}
.rocket{
  opacity: 0.4;
  transform: rotate(-10deg);
  right: 400px ;
  bottom: 200px ;
  position:  absolute;
  height: 150px;
  width: 150px ;
}
.grow{
  opacity: 0.2;
  left: 400px ;
  bottom: 200px ;
  position:  absolute;
  height: 150px;
  width: 150px ;
}
